* {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.clear {
    clear: both;
}

header {
    width: 100%;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.container>ul>li {
    display: inline-block;
}

.riscos {
    position: relative;
    top: -5px;
    width: 20px;
    height: 20px;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fb%2Fb2%2FHamburger_icon.svg%2F1200px-Hamburger_icon.svg.png&f=1&nofb=1");
    background-position: center;
    background-size: 100% 100%;
}

.logo {
    position: relative;
    top: 5px;
    width: 80px;
    height: 40px;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.GWCFgREUWc7GTQOrzBWhowHaEG%26pid%3DApi&f=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container input[type=text] {
    position: relative;
    top: -8px;
    padding: 5px;
    width: 550px;
    margin-left: 30%;
}

.container .icone-4 {
    float: right;
    position: relative;
    top: 10px;
}

main>.container-you {
    width: 100%;
    min-width: 1280px;
    height: 610px;
}

main>.container-you aside {
    float: left;
    background-color: rgb(250, 250, 250);
    width: 20%;
    height: 100%;
    min-width: 200px;
}

main>.container-you>.centro {
    float: right;
    background-color: rgb(252, 248, 248);
    height: 100%;
    width: 80%;
}

aside ul li {
    list-style: none;
    width: 85%;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
}

aside ul li:hover {
    background-color: rgb(225, 220, 220);
}

aside ul li img {
    position: relative;
    top: 5px;
}

.container-video {
    display: inline-block;
}

.h4 {
    margin: 5px auto;
    width: 80%;
    cursor: pointer;
    text-align: center;
    border: 1px solid;
    background-color: rgb(237, 233, 233);
}

.centro>.container-video>.imagem-video {
    width: 250px;
    height: 150px;
}

.centro>.container-video>.imagem-video img {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.textos-video p {
    color: gray;
    width: 200px;
    height: auto;
    position: relative;
    left: 33px;
    top: -5px;
    position: right;
}

.textos-video h2 {
    width: 200px;
    height: auto;
    position: relative;
    left: 33px;
    top: -5px;
}